.donation{
    color: white;
}
header{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.30)),  url(/crowd/Assets/Img/crowd.jpg) no-repeat;
    background-size: 100% 100%; /* Cover the entire container */
    background-size: cover;
    background-position: center center;
    image-rendering: crisp-edges;
    -webkit-image-rendering: pixelated;
    -moz-image-rendering: pixelated;
    -o-image-rendering: pixelated;
}
.logo {
    height: 200px; 
    width: 350px; 
    display: block;     
}

.navbar-custom {
    background: linear-gradient(to right , rgb(255, 255, 255),rgb(255, 0, 140)); /* Change the background color */
    
}

.navbar-custom .navbar-toggler-icon {
    color: #fff; /* Change the color of the toggler icon */
}

.navbar-custom .nav-link {
    color: #fff; /* Change the color of the navigation links */
}

.navbar-custom .nav-link:hover {
    color: #ffcc00; /* Change the color of navigation links on hover */
}
li{
font-size: 20px;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 300px;
    width: 100%;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: 50vh;
    border-radius: 10px 10px 0 0;
}

.card .card-content {
    padding: 20px;
}

.card h5 {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0 0 10px;
}

.card p {
    font-size: 0.875rem;
    margin: 0;
}

.card .btn {
    display: block;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 0 0 10px 10px;
    transition: background-color 0.3s ease;
}

.card .btn:hover {
    background-color: #0056b3;
}

#aboutUs {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content horizontally */
    background-size: 100% 100%; /* Cover the entire container */
    background-position: center center;
    image-rendering: crisp-edges;
    -webkit-image-rendering: pixelated;
    -moz-image-rendering: pixelated;
    -o-image-rendering: pixelated;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 15px;
    color: black;
}
footer{
    background: linear-gradient(to right , rgb(255, 255, 255),rgb(255, 0, 140)); /* Change the background color */
}
.navbar-custom {
    max-height: 100px; /* Set a maximum height for the navbar */
}

.navbar-brand img.logo {
    max-height: 120%; /* Limit the logo's height to fit within the navbar */
    width: auto; /* Allow the logo to scale proportionally */
}

